body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 155px;
  display: flex;
  flex-direction: column;
}




.tab-container {
  align-items: center;
  justify-content: column;
  background-color: #673ab7;
  text-decoration: none !important;
}

.tab-container>div,
a {
  font-size: 13px;

  height: 45px; /* Höhe der einzelnen Tabs */
  color: black;
  background-color: white;
  padding: 2px;
  display: flex;
  align-items: center;
}

.tab-container>a:hover {
  background-color: #ede7f6;
}




/* Navigationsleiste */
.navbar {
  font-size: 16px;
  background-color: #673ab7;
  height: 40px;
  line-height: 190%;
}


.navbar>div {
  color: white;
  padding: .3em;
  border-radius: 3px;
}



/* Der erste tab soll einen abgerundeten Rahmen haben */
#first-tab {
  border-radius: 4px 4px 0px 0px;
}



/* Alle a Elemente sind in der Oberfäche eig. "Tabs" */
a,
a:active,
a:focus {
  outline: none;
  text-decoration: none !important;
  color: black;
  border-bottom: 1px solid rgba(81, 45, 168, 0.13);
}

.text {
  margin-left: 6px;
}

/* Gilt nur für Bilder, die innerhalb von einem <a> Element sind */
a>img{
  height:30px;
  width: 30px;
  margin-left: 6px;
  border-radius: 1000px;
}

#settings {
  cursor: pointer;
  float: right;
  vertical-align: middle;
  margin-right: 2px;
  line-height: 190%;
}
