body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}



.container{
  align-items: center;
  justify-content: column;
  background-color: #673ab7;/* Das ist die Farbe über den abgerundeten Ecken vom ersten Favourite */
  text-decoration: none !important;
}


.container>div,
.container>a {
  font-size: 13px;

  height: 45px; /* Höhe der einzelnen Tabs */
  color: black;
  background-color: white;
  padding: 2px;
  display: flex;
  align-items: center;
}


.container>a:hover {
  background-color: #ede7f6;
}



/* Gilt nur für alle <a> Elemente, die innerhalb des tab-containers sind -> alle Tabs */
.container>a,
.container>a:active,
.container>a:focus {
  outline: none;
  text-decoration: none !important;
  color: black;
  border-bottom: 1px solid rgba(81, 45, 168, 0.13);
}



/* Gilt nur für Bilder, die innerhalb von einem <a> Element sind */
a>img{
  height:30px;
  width: 30px;
  margin-left: 6px;
  border-radius: 1000px;
}

/* Verstecke dir url von jedem Favourite */
a>.url{
  display: none;
}


.text {
  margin-left: 6px;
}

/* Entferne die "komischen" Farben vom Zahnrad-Icon usw. */
.text>a{
  color: white;
  outline: none;
  text-decoration: none !important;
}



/* Navigationsleiste */
.navbar {
  font-size: 16px;
  background-color: #673ab7;
  height: 40px;
  line-height: 190%;
}


.navbar>div {
  color: white;
  padding: .3em;
  /*border-radius: 3px;*/
}



a input{
  width: -moz-available;
  margin-left: 5px;
  margin-right: 5px;
}

a{
  overflow-x: auto;
}




/* Der erste tab soll einen abgerundeten Rahmen haben */
#tab-container > *:first-child{
  border-radius: 4px 4px 0px 0px;
}




#settings {
  cursor: pointer;
  float: right;
  vertical-align: middle;
  margin-right: 2px;
  line-height: 190%;
}


/* Style für den container der Nachricht die sagt, dass keine Favoriten gefunden werden konnten */
#no-favourites-message{
  display: none; /* Hide on default -> visualizeFavourites() shows message if no favourites are saved */
  background-color: white;
  color:#606060;
  margin: 1.5em;
  max-width: 100%;/* 200px */
  height: 100%;
  text-align: center;
  white-space: normal;
   line-height:150%;

  flex-direction: column;
  justify-content: center;
}

.fa-search{
  font-size: 3.5em;
  color: #f5f5f5;
  margin-bottom: 0.5em;
}


.container>a>.text{
  margin-right: 6px;
}
